div.is-hidden {
    display: none;/*ウェブページでは「display: none」というCSSを使うと、要素を非表示にできます*/
}
div.is-visible {
    display: block;/*ブックマーク参照*/
}
body {
    text-align: center;/*ブックマーク参照*/
    user-select: none;/*要はコピーできなくするみたい*/
}
.answer {
    display: inline-block;/*ブックマーク参照*/
    padding: 0.5em 1em;
    margin: 0.5em 0;
    font-weight: bold;/*font-weightとはフォントの太さを指定するプロパティ。boldフォントを太字に指定*/
    font-size: 40px;
    color: #6091d3;/*文字色*/
    background: #FFF;/*背景色*/
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}
.select {
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0.5em 0.3em;
    font-weight: bold;
    font-size: 80px;
    color: #6091d3;/*文字色*/
    background: #FFF;/*背景色*/
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}
.select:hover {/*「:hover」は疑似クラスの一種で、Webサイトの要素に追加しておくことで、カーソルを合わせた時に変化（アクション）をつけることができます*/
    background: #333;/*背景色*/
    border: 2px solid #333;
    color: #fff;/*文字色*/
    cursor: pointer;/*カーソルをポインターに変える*/
}
p {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    font-size: 60px;
    color: #6091d3;/*文字色*/
}
#start:hover {
    border: 2px solid #333;/*線*/
    cursor: pointer;/*カーソルをポインターに変える*/
}
#btn {/*【HTML + CSS】テキストやボタンを右寄せにする方法（6パターン）（ブックマーク）を応用して追加*/
	text-align: right;
}
